{% extends 'online/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}

{% block banner-slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'online/images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
    <div class="carousel-item">
      <img src="{% static 'online/images/banner/b2.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
    <div class="carousel-item">
      <img src="{% static 'online/images/banner/b3.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
    <div class="carousel-item">
      <img src="{% static 'online/images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
    </div>
  </div>
</div>
{% endblock banner-slider%}

{% block information %}
<div class="container">
  <div class="row bg-success text-center p-5 text-white border-bottom shadow">
    <h1>Products</h1>
    <small class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</small>
  </div>

</div>
{% endblock information %}

{% block main-content %}
<div class="container">
  <h2 class="text-center">Main poducts</h2>
  <br><br>
  <div class="row container">
    <div class="col-md4 col-sm-4 mi-go wow fadeInup" data-wow-duration="ls" data-wow-delay="0.6"
      style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
      <div class="goodnesssec butermilk smbg">
        <a href="#">
          <div class="goodnessseccont text-center">
            <img src="{% static 'online/images/product/buffalo-ghee.png' %}" class="img-responsive center-block" alt="product image">
            <p class="mlkro">Milk</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md4 col-sm-4 mi-go wow fadeInup" data-wow-duration="ls" data-wow-delay="0.6"
      style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
      <div class="goodnesssec butermilk curdbgpro">
        <a href="#">
          <div class="goodnessseccont text-center">
            <img src="{% static 'online/images/product/curd-total.png' %}" class="img-responsive center-block" alt="product image">
            <p class="mlkro">CURD</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md4 col-sm-4 mi-go wow fadeInup" data-wow-duration="ls" data-wow-delay="0.6"
      style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
      <div class="goodnesssec butermilk smbg">
        <a href="#">
          <div class="goodnessseccont text-center">
            <img src="{% static 'online/images/product/kulfi.png' %}" class="img-responsive center-block" alt="product image">
            <p class="mlkro">Kulfi</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row container">
    <div class="col-md4 col-sm-4 mi-go wow fadeInup" data-wow-duration="ls" data-wow-delay="0.6"
      style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
      <div class="goodnesssec butermilk smbg">
        <a href="#">
          <div class="goodnessseccont text-center">
            <img src="{% static 'online/images/product/cow-milk.png' %}" class="img-responsive center-block" alt="product image">
            <p class="mlkro">Milk</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md4 col-sm-4 mi-go wow fadeInup" data-wow-duration="ls" data-wow-delay="0.6"
      style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
      <div class="goodnesssec butermilk curdbgpro">
        <a href="#">
          <div class="goodnessseccont text-center">
            <img src="{% static 'online/images/product/icbars.png' %}" class="img-responsive center-block" alt="product image">
            <p class="mlkro">Icebar</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md4 col-sm-4 mi-go wow fadeInup" data-wow-duration="ls" data-wow-delay="0.6"
      style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
      <div class="goodnesssec butermilk smbg">
        <a href="#">
          <div class="goodnessseccont text-center">
            <img src="{% static 'online/images/product/milk-shake-strawberry.png' %}" class="img-responsive center-block" alt="product image">
            <p class="mlkro">Milshake</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
  {% endblock main-content %}